* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
  border-right: 2px dotted black;
  padding-right: 28px;
  text-decoration: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-top: 6px;
}

.promo {
  min-height: 800px;
  background-image: url("../img/bg/2-layers.png");
}

.subheader .subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  margin-top: 19px;
}

.subheader .subheader_phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 12px;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 19px;
  background-repeat: 3px;
}

.promo h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 24px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 151px;
}

.promo h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.promo .promo_descr {
  width: 955px;
  height: 161px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  margin: 0 auto;
  margin-top: 118px;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
}

.pref {
  min-height: 900px;
}

.pref .pref_pr {
  display: block;
  margin: 0 auto;
  margin-top: 71px;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.pref .pref_8pr {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 44px;
}

.preference_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start_text {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.end_text {
  color: #202020;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-align: justifyLeft;
}

.mob {
  min-height: 900px;
  background-image: url("../img/bg/mob_bg.png");
  padding-top: 50px;
}

.mob .mob_btn {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.mob .mob_app {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 38px;
}

.mob .mob_app_desc {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
}

.decition_black {
  min-height: 499px;
  background-color: #070716;
  padding-top: 57px;
  display: block;
  position: relative;
}

.decition_btn {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #ffffff;
  color: #070716;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.decition_nice {
  margin: 0 auto;
  margin-top: 40px;
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.decition_auto {
  margin: 0 auto;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.deition_white {
  min-height: 400px;
  background-image: url(../img/bg/setka_bg.png);
  display: block;
  position: relative;
}

.decition_white .decition_everyday {
  margin: 0 auto;
  margin-top: 220px;
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}

.decition .decition_img {
  display: block;
  position: absolute;
  top: 290px;
  left: 290px;
}

.condition {
  min-height: 920px;
}

.condition .condition_btn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.condition .condition_war {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.condition .condition_car {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.condition .condition_desc {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-left: 20px;
}

.play {
  color: #222222;
  color-font-size: 17px;
  color-font-weight: 300;
}
/*# sourceMappingURL=style.css.map */